html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

textarea {
    resize: none;
}

.signin-form {
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.signin-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.signin-form .form-control:focus {
    z-index: 2;
}

.form-control-error-label {
    font-size: 12px;
    color: red;
}

.form-control-error-label:blank {
    display: none;
}

.form-control-error-label:empty {
    display: none;
}

.form-control-error {
    border: solid 1px red;
}

.form-error {
    font-size: 18px;
    color: red;
}
