<h2>Mé příspěvky</h2><br>
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr class="bg-primary">
        <th>Název</th>
        <th>Stav</th>
    </tr>
    </thead>
    <tbody>
    {% for item in posts %}
        <tr>
            <td><a href="openPost/{{ item.title }}">{{ item.title }}</a></td>
            <td>{{ item.description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>