<div class="container">
    Jedná se o web knižní konference, jehož uživatele lze rozdělit dle rolí na: nepřihlášené uživatele, autory,
    recenzenty, administrátory. Autoři vkládají textové příspěvky (abstrakt+PDF), recenzenti příspěvky hodnotí a
    administrátoři se dle hodnocení rozhodnou, zda příspěvek přijmou či publikují (toto může být i automaticky např. při
    2 pozitivních recenzích). Nepřihlášený uživatel může vidět publikované příspěvky a může se do systému registrovat
    jako autor.
</div>